<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
    <title>Editing a Report Template in the Designer in an HTML template</title>
    <style>html, body { font-family: sans-serif }</style>

    <!-- Rendering the necessary JavaScript for the designer -->
    {{ designerJavaScript|safe }}
</head>

<body>
    <!-- Rendering the visual HTML part of the designer -->
    {{ designerHtml|safe }}
</body>

</html>