<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Exporting a Report from Code</title>
</head>

<body>
    This example shows how you can export a report from code.<br />
    
    <br /><br />
    <a href="{{ reverse_url('export') }}?format=pdf">Export to PDF</a><br />
    <a href="{{ reverse_url('export') }}?format=excel">Export to Excel</a><br />
    <a href="{{ reverse_url('export') }}?format=html">Export to HTML</a><br />
</body>

</html>