<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">
    <title>Exporting a Report from Code</title>
    <style>html, body { font-family: sans-serif }</style>

    <!-- Rendering the necessary JavaScript for the report generator -->
    {% raw reportJavaScript %}
</head>

<body>
    <h3>This example shows how you can export a report from code.</h3>
    <hr><br><br>
    
    <a href="{{ reverse_url('Exporting_a_Report_from_Code_Export') }}?format=pdf">Export to PDF</a><br>
    <a href="{{ reverse_url('Exporting_a_Report_from_Code_Export') }}?format=excel">Export to Excel</a><br>
    <a href="{{ reverse_url('Exporting_a_Report_from_Code_Export') }}?format=html">Export to HTML</a><br>

    <!-- Rendering the HTML part of the report generator and functions for exporting the report -->
    {% raw reportHtml %}
</body>

</html>