<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hello, Django</title>
    <style>html, body { font-family: sans-serif }</style>
</head>
<body>
    This example shows how how to work with the <strong><a href="https://www.stimulsoft.com/en/products/reports-python" target="_blank">Stimulsoft Reports.PYTHON</a></strong> using the Django framework.<br />
    
    <br /><br />
    <a href="{% url 'Showing_a_Report_in_the_Viewer' %}">Showing a Report in the Viewer</a><br />
    <a href="{% url 'Showing_a_Report_in_the_Viewer_in_an_HTML_template' %}">Showing a Report in the Viewer in an HTML template</a><br />
    <a href="{% url 'Editing_a_Report_Template_in_the_Designer' %}">Editing a Report Template in the Designer</a><br />
    <a href="{% url 'Editing_a_Report_Template_in_the_Designer_in_an_HTML_template' %}">Editing a Report Template in the Designer in an HTML template</a><br />
    <a href="{% url 'Exporting_a_Report_from_Code' %}">Exporting a Report from Code</a><br />
    <a href="{% url 'Registering_a_Data_from_Code' %}">Registering a Data from Code</a><br />
</body>
</html>