<!DOCTYPE html>{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Hello, Django</title>
    <style>html, body { font-family: sans-serif }</style>
</head>
<body>
    <h3>This examples show how to work with the <a href="https://www.stimulsoft.com/en/products/reports-python" target="_blank">Stimulsoft Reports.PYTHON</a> using the Django framework.</h3>
    <hr>
    
    <br><h3>Working with Report</h3>
    <a href="{% url 'Exporting_a_Report_from_Code' %}">Exporting a Report from Code</a><br>

    <br><h3>Working with Report on the Server-Side</h3>
    <a href="{% url 'Configuring_and_Installing_Node_js' %}">Configuring and Installing Node.js</a><br>
    <a href="{% url 'Exporting_a_Report_from_Code_on_the_Server_Side' %}">Exporting a Report from Code on the Server-Side</a><br>

    <br><h3>Working with Viewer</h3>
    <a href="{% url 'Showing_a_Report_in_the_Viewer' %}">Showing a Report in the Viewer</a><br>
    <a href="{% url 'Showing_a_Report_in_the_Viewer_in_an_HTML_template' %}">Showing a Report in the Viewer in an HTML template</a><br>
    <a href="{% url 'Registering_a_Data_from_Code' %}">Registering a Data from Code</a><br>

    <br><h3>Working with Designer</h3>
    <a href="{% url 'Editing_a_Report_Template_in_the_Designer' %}">Editing a Report Template in the Designer</a><br>
    <a href="{% url 'Editing_a_Report_Template_in_the_Designer_in_an_HTML_template' %}">Editing a Report Template in the Designer in an HTML template</a><br>

    <br><h3>License activation</h3>
    <a href="{% url 'How_to_Activate_the_Product' %}">How to Activate the Product</a><br>
</body>
</html>